body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;
}

#calculatorWindow{
    width: 538px;
    height: 700px;
    background-color: #d8d8d8;
    border-radius: 30px;
    cursor: pointer;
    position: fixed;
}

#calculatorHeader{
    height: 50px;
    background-color: #616161;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 538px;
}

